<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<description></description>
		<display-name>ProdServlet</display-name>
		<servlet-name>ProdServlet</servlet-name>
		<servlet-class>com.tbk.prj.prod.ProdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProdServlet</servlet-name>
		<url-pattern>/ProdServlet</url-pattern>
	</servlet-mapping>
	<display-name>SosoMarket</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>ProdOneServlet</display-name>
		<servlet-name>ProdOneServlet</servlet-name>
		<servlet-class>com.tbk.prj.prod.ProdOneServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProdOneServlet</servlet-name>
		<url-pattern>/ProdOneServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MypageLikeListServlet</display-name>
		<servlet-name>MypageLikeListServlet</servlet-name>
		<servlet-class>com.tbk.prj.mypage.MypageLikeListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MypageLikeListServlet</servlet-name>
		<url-pattern>/MypageLikeListServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>MypageDelHServlet</display-name>
		<servlet-name>MypageDelHServlet</servlet-name>
		<servlet-class>com.tbk.prj.mypage.MypageDelHServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MypageDelHServlet</servlet-name>
		<url-pattern>/MypageDelHServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.gif</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.ico</url-pattern>
		<url-pattern>*.swf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.jspx</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ChatListServlet</display-name>
		<servlet-name>ChatListServlet</servlet-name>
		<servlet-class>com.tbk.prj.chat.ChatListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatListServlet</servlet-name>
		<url-pattern>/ChatListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ChatRoomServlet</display-name>
		<servlet-name>ChatRoomServlet</servlet-name>
		<servlet-class>com.tbk.prj.chat.ChatRoomServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatRoomServlet</servlet-name>
		<url-pattern>/ChatRoomServlet</url-pattern>
	</servlet-mapping>
</web-app>