<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>ProdServlet</display-name>
    <servlet-name>ProdServlet</servlet-name>
    <servlet-class>com.tbk.prj.prod.ProdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdServlet</servlet-name>
    <url-pattern>/ProdServlet</url-pattern>
  </servlet-mapping>
  <display-name>SosoMarket</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProdOneServlet</display-name>
    <servlet-name>ProdOneServlet</servlet-name>
    <servlet-class>com.tbk.prj.prod.ProdOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdOneServlet</servlet-name>
    <url-pattern>/ProdOneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MypageLikeListServlet</display-name>
    <servlet-name>MypageLikeListServlet</servlet-name>
    <servlet-class>com.tbk.prj.mypage.MypageLikeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MypageLikeListServlet</servlet-name>
    <url-pattern>/MypageLikeListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MypageDelHServlet</display-name>
    <servlet-name>MypageDelHServlet</servlet-name>
    <servlet-class>com.tbk.prj.mypage.MypageDelHServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MypageDelHServlet</servlet-name>
    <url-pattern>/MypageDelHServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/</url-pattern>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.gif</url-pattern>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.ico</url-pattern>
    <url-pattern>*.swf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp</servlet-name>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>*.jspx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatListServlet</display-name>
    <servlet-name>ChatListServlet</servlet-name>
    <servlet-class>com.tbk.prj.chat.ChatListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatListServlet</servlet-name>
    <url-pattern>/ChatListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatRoomServlet</display-name>
    <servlet-name>ChatRoomServlet</servlet-name>
    <servlet-class>com.tbk.prj.chat.ChatRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatRoomServlet</servlet-name>
    <url-pattern>/ChatRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>

    <display-name>ProdListServlet</display-name>
    <servlet-name>ProdListServlet</servlet-name>
    <servlet-class>com.tbk.prj.prod.ProdListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdListServlet</servlet-name>
    <url-pattern>/ProdListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdInsertServlet</display-name>
    <servlet-name>ProdInsertServlet</servlet-name>
    <servlet-class>com.tbk.prj.prod.ProdInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdInsertServlet</servlet-name>
    <url-pattern>/ProdInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdSelectCtgrListServlet</display-name>
    <servlet-name>ProdSelectCtgrListServlet</servlet-name>
    <servlet-class>com.tbk.prj.prod.ProdSelectCtgrListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdSelectCtgrListServlet</servlet-name>
    <url-pattern>/ProdSelectCtgrListServlet</url-pattern>

    <display-name>CommunityPostListServlet</display-name>
    <servlet-name>CommunityPostListServlet</servlet-name>
    <servlet-class>com.tbk.prj.community.CommunityPostListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityPostListServlet</servlet-name>
    <url-pattern>/CommunityPostListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommunitySearchServlet</display-name>
    <servlet-name>CommunitySearchServlet</servlet-name>
    <servlet-class>com.tbk.prj.community.CommunitySearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunitySearchServlet</servlet-name>
    <url-pattern>/CommunitySearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommunityRealTimeSearchServlet</display-name>
    <servlet-name>CommunityRealTimeSearchServlet</servlet-name>
    <servlet-class>com.tbk.prj.community.CommunityRealTimeSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityRealTimeSearchServlet</servlet-name>
    <url-pattern>/CommunityRealTimeSearchServlet</url-pattern>

  </servlet-mapping>
</web-app>